.google-login-btn {
    background-color: white;
    color: #555;
    border: 1px solid lightgray;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    cursor: pointer;
}
